<h2> Записаться </h2>
<p> Тут можно записаться в наш Barber Shop!</p>


<form>
  <div class="form-group">
    <label>Ваше имя:</label><br/>
    <input name="username" type="text" class="form-controll" placeholder="Введите Ваше имя"> <br/>
    </div>

     <div class="form-group">
    <label>Ваш телефон:</label><br/>
    <input name="phone" type="text" class="form-controll" placeholder="Введите Ваше имя"> <br/>
    </div>

     <div class="form-group">
    <label>Когда Вас ожидать:</label><br/>
    <input name="datetime" type="text" class="form-controll" placeholder="Введите дату и время"> <br/>
    </div>
<div class="form-group">
    <label for="exampleFormControlSelect1">Выбирайте мастера в списке ниже:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Альвина</option>
      <option>Виктория</option>
      <option>Даша</option>
      <option>Ирина</option>
      <option>Катя</option>
    </select>
  </div>

<button type="submit" class="btn btn-primary">Записаться</button> <br/>

</form>
